* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #0b0b0b;
  color: #ffffff;
}

a,
a:hover,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 0.5rem 2rem;
  position: relative;
}

.navbar-links,
.navbar-links__menu {
  list-style: none;
  text-transform: uppercase;
}

.navbar-links li {
  display: inline-block;
  color: rgba(255, 255, 255, 0.7);
  transition: color 0.3s;
}

.navbar-links__menu li {
  display: block;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 1rem;
  transition: color 0.3s;
}

.navbar-links li:hover,
.navbar-links__menu li:hover {
  color: #ffffff;
}

.navbar-links li:not(:last-child) {
  margin-right: 1.5rem;
}

.navbar-brand {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}

.navbar-brand span:first-child {
  font-size: 2.5rem;
  display: block;
}

.navbar-brand span:last-child {
  font-size: 1rem;
  line-height: 0;
  display: block;
}

.navbar-icons,
.navbar-icons__menu {
  font-size: 20px;
}

.navbar-icons > *,
.navbar-icons__menu > * {
  cursor: pointer;
}

.navbar-icons > *:not(:last-child),
.navbar-icons__menu *:not(:last-child) {
  margin-right: 0.5rem;
  cursor: pointer;
}

.navbar-menu {
  display: none;
  cursor: pointer;
}

.navbar-menu > * {
  font-size: 32px;
  text-align: center;
  padding-top: 16px;
}

.menu-box {
  padding: 2rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #0b0b0b;
  width: 16rem;
  transform: translateX(-340px);
  z-index: 999;
  transition: transform 0.3s;
}

.menu-box__visible {
  transform: translateX(0);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 777;
  background-color: rgba(0, 0, 0, 0.7);
}

.overlay-invisible {
  display: none;
}

.heading {
  margin: 2rem 0;
  font-family: "Kanit", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 6rem;
  animation: headingZoomIn 0.5s;
}

@keyframes headingZoomIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.heading > * {
  display: block;
  line-height: 1;
}

.heading span:last-child {
  color: #0b0b0b;
  text-shadow: -2px -2px 0 #ffffff, 2px -2px 0 #ffffff, -2px 2px 0 #ffffff,
    2px 2px 0 #ffffff;
}

.images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  overflow: hidden;
}

.images img {
  width: 33%;
  height: 680px;
  object-fit: cover;
  filter: brightness(50%);
  cursor: pointer;
  transition: filter 0.5s;
}

.images img:hover {
  filter: brightness(100%);
}

.img-1 {
  animation: image1Appear 0.8s;
}

.img-2 {
  animation: image2Appear 0.8s;
}

.img-3 {
  animation: image3Appear 0.8s;
}

@keyframes image1Appear {
  0% {
    opacity: 0;
    transform: translateX(-500px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes image2Appear {
  0% {
    opacity: 0;
    transform: translateY(500px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes image3Appear {
  0% {
    opacity: 0;
    transform: translateX(500px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Responsiveness */
@media screen and (max-width: 1082px) {
  .navbar {
    height: fit-content;
    align-items: end;
  }

  .navbar-links,
  .navbar-icons {
    display: none;
  }

  .navbar-menu {
    display: block;
  }

  .navbar-brand {
    position: static;
    transform: translateX(0);
    align-self: center;
  }

  .navbar-brand span:first-child {
    font-size: 2rem;
  }

  .navbar-brand span:last-child {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 992px) {
  .heading {
    font-size: 4rem;
    padding: 0 1rem;
  }

  .images {
    flex-direction: column;
  }

  .images img {
    width: 100%;
  }

  .images img:not(:last-child) {
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 460px) {
  .heading {
    font-size: 3.5rem;
  }
}
